/*CUERPO*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #F7E1AE, #A4D0A4, #F7E1AE)
}
main {
    padding-top: 11vh;
    display: inline-block;
}

/*MENU DE NAVEGACIÓN*/
header nav {
    background-color: #fff;
    height: 11vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 200;
    box-shadow: 0px 5px 15px 0px #343434;
}
.nav-elemento {
    vertical-align: middle;
    display: inline-block;
    width: 32vw;
}
 /*logo con dirección a inicio*/
#logo {
    width: 13vw;
    height: 8vh;
    float: left;
    margin-left: 2em;
}
 /*barra de busqueda*/
.nav-elemento button{
    float: right;
    margin: 17px 2px;
    height: 35px;
    border: none;
}
.nav-elemento button:hover {
    outline: 1px solid #000;
    border-radius: 1em;
}
.nav-elemento button img {
    width: 2em;
    height: 2em;
}
.nav-elemento input[type=text] {
    /* float: right; */
    background-color:#b1e1b1;
    border: none;
    border-radius: 1em;
    font-size: 17px;
    padding: 1em;
    width: 80%;
    height: 1em;
    margin: 1em 0em;  
}
.nav-elemento input[type=text]:focus:hover {
    outline: 1px solid #000;
}
.nav-elemento input[type=text]:hover {
    border: 1px solid rgb(136, 158, 147);
}
.nav-alineado { 
    text-align: right;
}
 /*dirección al perfil*/
#perfil {
    width: 45px;
    height: 45px;
    float: right;
    border-radius: 1em;
    padding: 4px;
}
#perfil:hover {
    outline: 1px solid #000;
}

/*PIE DE PAGINA*/
footer {
    width: 100vw;
    height: 25vh;
    background: linear-gradient(0.25turn, #ffffff, #f7e9c7, #ffffff,  #f7e9c7, #ffffff,  #f7e9c7,#ffffff,  #f7e9c7);
    display: block;
    padding-top: 5px;
    margin-top: 1em;
}
footer p , footer nav {
    text-align: center;
}
footer img {
    width: 2em;
    height: 2em;
    object-fit: contain;
    margin: auto 10px;
    transition: width 0.6s, height 0.6s;
}
footer img:hover {
    width: 3em;
    height: 3em;
}
.footer-contacto {
    font-family: 'Euphoria Script', cursive;
    font-size: 30px; 
    margin-bottom: 5px;
}
.footer-copy {
    font-family: 'Faustina', serif;
    font-size: 1em;
}







/* 


.libro {
    width: 30%;
    height: 100%;
}
.perfil {
    width: 3%;
    height: 3%;
    border-radius: 50%;
}
.autorFoto {
    width: 10%;
    border-radius: 25%;
    
}
 */