/*SECCIÓN DE LIBROS*/
main {
    width: 68%;
    height: 100%;
    padding-left: 15px;
}
section .libro {
    display: block; 
    width: 100%;
    height: 45%;
}
.libro-opcion {
    background: linear-gradient(to bottom right,  #f9efbf59, #ffffff6a);
    padding: 5px;
    margin: 5px;
    position: relative;
    border: 1px solid #000;
    border-radius: 1em;
    width: 28vw;
    display: inline-block;

}
/*SECCION DE EXPLORAR*/
    /*titulo de la seccion*/
.libro h2 {
    font-family: 'Euphoria Script', cursive;
    font-size: 3em; 
    margin: 20px auto;
}
    /*contenido de cada libro de cada sección*/
.libro-opcion div {
    display: inline-block;
    margin: 5px;
}
        /*imagen del libro*/
.libro-opcion img {
    width: 12vw;
    height: 38vh;
    border-radius: 15px;
    border: 1px solid #ffffffa1;
    object-fit: cover;
}
        /*contenido textual*/
.libro-opcion-contenido {
    position: absolute;
    top: 15%;
}
.star-span {
    font-size: 18px;
    color: darkorange;
}
.libro-opcion-contenido a {
    font-family: 'Euphoria Script', cursive;
    font-size: 25px; 
    color: #000;
    text-decoration: none;
    transition: font-size 0.4s;
}
.libro-opcion-contenido a:hover {
    font-size: 28px; 
}
.libro-opcion-contenido p {
    font-family: 'Faustina', serif;
    font-size: 1em;
    color: #000;
}
.libro-opcion-contenido span {
    font-size: 18px;
}
    /*boton para mostrar más resultados*/
.libro-vermas {
    display: inline-block;
    position: relative;
    width: 3vw;
    height: 30vh;
    margin-left: 5px;
    margin-right: 15px;
}
.icono-vermas {
    position: absolute;
    top: 25%;
    bottom: 25%;
}
.icono-vermas button {
    border-radius: 1em;
    background-color: #ffffff;
    border: 1px solid  #617A55;
    width: 4vw;
    height: 7vh;
    cursor: pointer;
}
.icono-vermas button:hover {
    outline: 1px solid rgb(0, 0, 0);
    border: none;
    background-color: #f6edbe;
}
.icono-vermas span {
    color: #000;
    font-size: 3em;
}
/*CONTENIDO EXTRA DE EXPLORAR*/
#lote2 {
    display: none;
}
#lote1 {
    display: block;
}
#lote4 {
    display: none;
}
#lote3 {
    display: block;
}


/*ASIDE*/
aside {
    width: 30vw;
    float: right;
    height: 130vh;
    position: relative;
    top: 11vh;
    bottom: 20vh;
    background-color: #fff8d646;
}
aside article , .titulo-aside {
    text-align: center;
}
    /*imagen aside*/
aside figure img {
    width: 24vw;
    height: 24vh;
    border: 1px solid #617A55;
    border-radius: 5px;
}
    /*título*/
.titulo-aside {
    font-family: 'Euphoria Script', cursive;
    font-size: 2em;
}
    /*contexto*/
article h4 {
    font-family: 'Euphoria Script', cursive;
    font-size: 25px;
    margin: auto
}
article p , figcaption {
    font-family: 'Faustina', serif;
    font-size: 1em;
}
    /*transicion y ubicacion de noticias*/
.anuncio-img , .anuncio-context {
    width: 22vw;
    height: 28vh;
    display: block;
}
.anuncio-img {
    position:absolute;
    transition: opacity .8s;
    cursor: pointer;
}
.anuncio-context {
    margin: 15px auto;
    padding-top: 15px;
}
.anuncio-img:hover {
    opacity: 0;
}

