/*CUERPO*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #F7E1AE, #A4D0A4, #F7E1AE)
}
main {
    padding-top: 11vh;
    display: inline-block;
    width: 100%;
    height: 100%;
}
/*MENU DE NAVEGACIÓN*/
header nav {
    background-color: #fff;
    height: 11vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
    box-shadow: 0px 5px 15px 0px #343434;
    text-align: center
}
#logo {
    width: 16vw;
    height: 8vh;
    margin: .7em auto;
}

/*ESPACIO PRINCIPAL*/
.principal {
    width: 90%;
    height: 100%;
    margin: 2em auto;
    background-color: #fff;
    border-radius: 2em;
}
.principal section {
    display: inline-block;
    width: 49%;
    height: 100%;
    padding: 2em 2em;
}
.principal-titulo {
    text-align: left;
    margin-bottom: 2em;
}
.principal-titulo h1 {
    font-family: 'Euphoria Script', cursive;
    font-size: 5.8em;
}
.principal-titulo p {
    font-family: 'Faustina', serif;
    font-size: 1.5em;
    color: #2a2a2a;
}
/*FORMULARIO LOGIN*/
.principal-form {
    margin: auto;
    position: relative;
}
form {
    padding: 1em;
    border: 2px solid #2a2a2a;
    border-radius: .3em;
    background: linear-gradient(to bottom right, #F7E1AE, #A4D0A4, #F7E1AE);
    position: absolute;
    bottom: 1vh;
}
    /*titulo*/
form h2 {
    text-align: center;
    font-family: 'Euphoria Script', cursive;
    font-size: 2.2em;
    margin: .6em auto;
}
    /*input y label*/
form div label , form div input , form div button {
    display: block;
}
form , form div input , .principal-form-boton button {
    margin: auto;
}
form div label {
    text-align: left;
    margin-top: 1em;
    font-family: 'Faustina', serif;
    font-size: 1.3em;
    color: #000;
}
form div input {
    padding: 10px;
    font-size: 1em;
    width: 35vw;
    font-family: 'Faustina', serif;
    border-radius: 1em;
    border: 1px solid #343434;
    margin: .5em auto;
}
form div input::placeholder {
    font-family: 'Faustina', serif;
    color: #343434;
}
    /*boton*/
.principal-form-boton{
    margin: 1.8em auto 1.3em;
}
.principal-form-boton button {
    border-radius: .8em;
    border: 2px solid #343434;
    padding: 10px;
    background-color: #fcf8ee;
    width: 12vw;
    height: 8vh;
    font-size: 1.2em;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    transition: color .5s , background-color .5s , border .5s , outline .5s , box-shadow .5s , transform .5s;
}
.principal-form-boton button:hover {
    color: #fff;
    background-color: #000;
    border: none;
    outline: 2px solid #ffffffeb;
    box-shadow: 0px 0px 15px 3px #fff;
    transform: scale(1.2);
}

/*PRESENTACIÓN DEL SERVICIO*/
.presentacion h2 {
    font-family: 'Euphoria Script', cursive;
    font-size: 3.5em;
    text-align: center;
    margin: 1.5em auto 1em;
}
.presentacion section {
    position: relative;
    margin-left: 20%;
}
.presentacion section div {
    display: inline-block;
    height: 45vh;
    width: 28vw;
    margin: 0em 1em 2em;
}
.presentacion img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 2em;
}
.presentacion-img {
    background-color: #fff;
}
.presentacion-2 {
    position: absolute;
}
    /*titulos*/
.presentacion-1-izquierda h3, .presentacion-1 h3 {
    font-family: 'Euphoria Script', cursive;
    font-size: 2.2em;
}
.presentacion-1 , .presentacion-1-izquierda{
    background-color: #ffffff2d;
    height: 100%;
    padding: 15px;
}
.presentacion-1 h3 , .presentacion-1 p{
    text-align: right;
}
.presentacion-1-izquierda h3 , .presentacion-1-izquierda p {
    text-align: left;
}
    /*contexto*/
.presentacion-1-izquierda p , .presentacion-1 p {
    font-family: 'Faustina', serif;
    color: #343434;
    font-size: 1.2em;
}




/*PIE DE PAGINA*/
footer {
    width: 100vw;
    height: 25vh;
    background: linear-gradient(0.25turn, #ffffff, #f7e9c7, #ffffff,  #f7e9c7, #ffffff,  #f7e9c7,#ffffff,  #f7e9c7);
    display: block;
    padding-top: 5px;
    margin-top: 1em;
}
footer p , footer nav {
    text-align: center;
}
footer img {
    width: 2em;
    height: 2em;
    object-fit: contain;
    margin: auto 10px;
    transition: width 0.6s, height 0.6s;
}
footer img:hover {
    width: 3em;
    height: 3em;
}
.footer-contacto {
    font-family: 'Euphoria Script', cursive;
    font-size: 30px; 
    margin-bottom: 5px;
}
.footer-copy {
    font-family: 'Faustina', serif;
    font-size: 1em;
}