/*CUERPO*/
main {
    width: 100%;
    height: 100%;
}
main section , main aside {
    display: inline-block;
}

/*LISTAS DE LECTURA*/
.lista {
    display: block;
    width: 100%;
    height: 50%;
    margin: 1em 1.5em;
}
table {
    border: 1px solid #000;
    border-radius: 1em;
    padding: 1em;
    width: 60vw;
    height: 50%;
    background-color: #f4f9b4c6;
}
th , td {
    height: 5vh;
}
th {
    border-bottom: 1px solid #343434;
    text-align: center;
    font-family: 'Euphoria Script', cursive;
    font-size: 2em;
    margin: auto;
}
th:hover {
    color:#fff;
    background-color: #5c724b;
    border-radius: 1.5em;
}
td:hover {
    background-color: #d7edc6;
}
td {    
    border-left: 1px solid #343434;
    padding-left: 8px;
    margin-bottom: 5px;
    width: 10vw;
    font-family: 'Faustina', serif;
    font-size: 1em;
}
td a {
    color: #000;
    text-decoration: none;
}
tr .lista-centrada {
    text-align: center;
}
tr span {
    font-size: small;
    color: darkorange;
}

/*TÍTULOS*/
.lista-titulo {
    font-family: 'Euphoria Script', cursive;
    font-size: 3em;
    margin-left: 1em;
}
.lista h3 {
    font-family: 'Euphoria Script', cursive;
    font-size: 2.5em;
    text-align: center;
}


/*ASIDE CONTENIDO DE PERFIL*/
aside {
    width: 35vw;
    float: right;
    height: 100%;
    position: sticky;
    bottom: 25vh;
    background-color: #fff8d660;
    padding: 2em;  
}
aside:hover {
    animation-name: foto-perfil;
    animation-duration: 2.5s;
    animation-iteration-count: infinite ;
}
    /*datos de usuario*/
aside h2 , aside p {
    font-family: 'Faustina', serif;
    color: #1b1b1b;
    text-align: center;
}
aside h2 {
    font-size: 3em;
    margin: auto;
}
.perfil-dato1 {
    font-size: 1em;
    margin: auto;
}
aside span {
    font-size: 17px;
}
.perfil-dato2 {
    background-color: #f4f9b4c6;
    border-radius: 1em;
    padding: 10px;
    margin-top: 1.5em;
}
.perfil-dato2 h3 {
    margin: auto;
    font-family: 'Euphoria Script', cursive;
    font-size: 2em;
}
    /*foto de perfil*/
.perfil-foto {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-foto img {
    width: 20vw;
    height: 43vh;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: all 1.5s;
}
.perfil-foto img:hover {
    width: 23vw;
    height: 47vh;
    border: 3px solid #1b1b1b;
    box-shadow: 0 0 10px 3px #000;
}
    /*animación*/
@keyframes foto-perfil {
    0% {
        background-color: #f7f9d7de
    }
    25% {
        background-color: #f4f8bfde
    }
    50% {
        background-color: #d6f593b0
    }
    75% {
        background-color: #f4f8bfde
    }
    100% {
        background-color:  #f7f9d1de
    }
}
