/*CUERPO*/
main {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    position: relative;
}

/*INFO LIBRO*/
.libro-info , .libro-resenas {
    width: 48%;
    height: 100%;
    display: inline-block;
}
.libro-info {
    padding: 1em 2em;
    float: right;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff8d646;
}
    /*título*/
.libro-info h2 {
    text-align: center;
    font-family: 'Euphoria Script', cursive;
    font-size: 2.5em;
}
#libro-info-datos-autor , .libro-info h4{
    font-family: 'Euphoria Script', cursive;
    font-size: 1.8em;
}
    /*contenido datos del libro*/
section .libro-info {
    height: 100%;
    width: 100%;
}
.libro-info-datos {
    display: inline-block;
    width: 20vw;
    padding: .3em;
}
.libro-info-datos img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border: 1px solid #fff;
    transition: transform 1s, box-shadow 1s;
}
.libro-info-datos img:hover {
    box-shadow: 0px 0px 15px 2px #fff;
    transform: scale(1.1);
}
.libro-info-datos p , .libro-info-datos ul {
    font-family: 'Faustina', serif;
    font-size: 1em;
    display: block;
}
.libro-info-sinopsis , .libro-info-autor p {
    font-family: 'Faustina', serif;
    font-size: 1em;
}
.libro-info h4 {
    margin-bottom: auto;
}
    /*informacion del autor*/
.libro-info-autor{
    display: inline-block;
    height: 100%;
}
.libro-info-datos1 {
    width: 20%;
}
.libro-info-datos1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000;
}
.libro-info-datos2 {
    width: 78%;
    padding: .2em;
}

/*CREAR RESEÑAS*/
.libro-resenas-publica {
    text-align: center;
    margin: 3em 2em;
    background-color: #fff;
    border: 1px solid #343434;
    padding: 2em 1em;
    border-radius: 2em;
    transition: box-shadow 1.5s;
}
.libro-resenas-publica:hover {
    box-shadow: 0px 0px 20px 3px #343434;
}
.libro-resenas-publica h3 {
    margin: auto auto 0.5em
}
.libro-resenas-publica h3 , .libro-resenas-todas h3 {
    font-family: 'Euphoria Script', cursive;
    font-size: 1.9em;
    text-align: center;
}
    /*botooon*/
.resenas-boton {
    border-radius: 1em;
    border: none;
    padding: 6px;
    background-color: #F7E1AE;
    width: 15vw;
    height: 7vh;
    font-size: 1em;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    transition:  outline .5s , box-shadow .5s;
}
.resenas-boton:hover {
    outline: 1px solid #f2a13f;
    box-shadow: 0px 0px 10px 3px #f2a13f;
}

/*RESEÑAS*/
.libro-resenas-todas {
    margin: auto;
}
.star-span {
    font-size: 18px;
    color: darkorange;
}
.libro-resenas-todas-usuario {
    margin: 1.5em 1em;
    padding: 2em 1em;
    border-radius: 1em;
    background-color: #34343466;
    width: 100%;
    height: 100%;
}
.libro-resenas-todas-usuario div {
    display: inline-block;
}
.libro-resenas-todas-img {
    width: 15%;
    height: 100%;

}
.libro-resenas-todas-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000;
}
.libro-resenas-todas-datos {
    width: 78%;
    padding-left: 0.5em;
}
.usuario{
    font-family: 'Faustina', serif;
    font-size: 1.2em;
}
.libro-resenas-todas-datos p{
    font-family: 'Faustina', serif;
    font-size: 1em;
}


